@charset "UTF-8";

#container {
	padding: 0.5em;
	margin: 0.5em;
}

.error{
	color: red;
}

.ad-list-item {
	padding: 0.5em;
	margin: 0.5em;
	border: 1px dotted darkgray;
	border-radius: 0.5em;
}

.category-list-item-big{
	padding: 0.5em;
	margin: 0.5em;
	border: 1px dotted darkgray;
	border-radius: 0.5em;
}

.category-list-item:hover{
	cursor: pointer;
	background-color: lightgray;
}

.item-box{
	padding: 0.5em;
	height: 200px;
}

#navbar{
	padding: 1em;
}

.floating-btn{
	display: block;
	float: right;
}

.action-links{
	float: right; 
	display: inline-block; 
	padding-right: 20px;
}