@charset "UTF-8";

#container {
	padding: 0.5em;
	margin: 0.5em;
}

.error{
	color: red;
}

.ad-list-item {
	padding: 0.5em;
	margin: 0.5em;
	border: 1px dotted darkgray;
	border-radius: 0.5em;
}

.category-list-item-big{
	padding: 0.5em;
	margin: 0.5em;
	border: 1px dotted darkgray;
	border-radius: 0.5em;

}

.category-list-item:hover{
	cursor: pointer;
	background-color: lightgray;
}

.item-box{
	padding: 0.5em;
	height: 200px;
}

#navbar{
	padding: 1em;
}

.floating-btn{
	display: block;
	float: right;
}

.action-links{
	float: right; 
	display: inline-block; 
	padding-right: 20px;
}

.comment-box{
	padding: 0.5em;
	margin: 0.5em;
	border: 1px dotted darkgray;
	border-top: 0;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.hide{
	display: none;
}

.show-comments-btn:hover{
	cursor: pointer;
}

.add-comment-btn:hover{
	cursor: pointer;
}

.new-comment-box{
	padding: 0.5em;
}

.comment-item{
	border-bottom: 1px dotted darkgray;
	padding-bottom: 0.3em;
}